<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Editar Usuário</title>
</head>
<body>
    <div class="container">
        <h2>Editar Usuário</h2>
        <form action="{{ url_for('editar', id=usuario['id']) }}" method="post">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" value="{{ usuario['nome'] }}"required><br><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ usuario['email'] }}"required><br><br>

            <button type="submit">Salvar</button>

            <br>
            <a href="/dados" class="button">Voltar à Lista</a>
        </form>
       
    </div>
    
</body>
</html>